#peliculas{
    margin-top: 100px !important;
}
 
.estreno-title { 
    text-align: center;
    font-size: 4rem !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 

.image-container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: block; 
  }

  /*
   Badges
  */
  .badge-estreno {
    background-color: #e645c3;
    color: #fff;
    padding: 0.5rem; 
    font-size: 0.8rem; 
  }

  .badge-internacional {
    background-color: #45e6a8;
    color: #fff;
    padding: 0.5rem; 
    font-size: 0.8rem; 
  }

  .subtitle {
    text-align: center; 
    font-size: 2rem;
    margin-bottom: 70px;
  }
 

  /**
  Video local
  **/

  /* Estilos para el reproductor de video */
  video {
    width: 80%;
    max-width: 80%;
    z-index: -1;
  }

  /* Estilos para los controles */
  video::-webkit-media-controls {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
  }

  video::-webkit-media-controls-play-button {
    background-color: transparent;
    color: #fff;
  }

  video::-webkit-media-controls-volume-slider {
    width: 100px;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  /**
   Iframe
  **/

  .iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* Estilos para el iframe */
  .iframe-container iframe {
    width: 80%;
    height: 80%;
  }

  /**
  TODO centrar mejor textos
   /


   /**
    Card
   **/

   .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    display: inline-block;
    vertical-align: top; 
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    font-size: 16px;
  }
  
  .card-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
  }
  
  .card-content button:hover {
    background-color: #0069d9;
  }
 
  .extra-reco  {
    margin-left: 7px;
    margin-right: 7px; 
    max-width: 400px !important;
    max-height: 400px !important;
  }